<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="CSS/login.css" type="text/css">
    <script>
var re_email=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
var re_pwd=/^\w{8,12}$/
function isChecked(x)
{
 var flag=false;
 for(var i=0;i<x.length;i++)
 if(x[i].checked)
{
flag=true;
break;
 }
 return flag;
}
function formValidation()
{
    if(!re_email.test(document.frm.email.value))
{
alert("email is empty or not valid");
document.frm.email.focus();
return false;
}

    else if(!re_pwd.test(document.frm.passid.value))
{
alert("password must be:\n-between 8 and 12");
document.frm.passid.focus();
return false;
}
else
return true;
}
</script>
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form name="frm" onSubmit="return formValidation()" action="/login" ></form>
                    <div class="input-field">
                        <input type="text" name="email"placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="pwd" class="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                      <a href="/interest"> <input type="submit" value="Login Now"></a>
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/register" class="text signup-link">Signup now</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/register" class="text login-link">Signup now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    

</body>
</html>